body {
    background-color: black;
    background-image: url(../images/SithPlanetBackground.jpg);
    background-size: cover;
    color: #ffffaa;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
}


h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    padding: 15px;
    font-size: 28px;
}

button {
    margin: 10px;
    border: 2px solid #ffffaa;
    border-radius: 8px;
    padding: 10px;

    background-color: maroon;
    color: #ffffaa;

    font-family: inherit;
}

.clickable {
    cursor: pointer;
}


.gameArea {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background-color: #000000dd;
}

.flavorText {
    padding: 10px;
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.infoText {
    padding: 10px;
}

/* Classes controlling character card display */
.charCard {
    display: inline-block;

    margin: 10px;
    border: 1px white solid;
    padding: 10px;

    background-color: maroon;

    text-align: center;
    
}

.charCardImg {
    width: 170px;

    margin: 10px 15px;
    border: 1px solid white;
}

.name {
    font-size: 18px;
}

.vs {
    vertical-align: 90px;
    padding: 0 20px;

    font-size: 40px;
}

/* Copyright footer class */

.copyrightInfo {
    flex-shrink: 0;

    width: 100%;

    margin: 0;
    margin-top: 80px;

    /* border-top-style: solid; */
    /* border-color: #4aaaa5; */
    /* border-top-width: 5px; */

    padding: 25px 0 10px;

    /* background: #666666; */

    text-align: center;
    font-size: 10px;
    /* color: white; */
}